$granite      		: #636363;
$wall         			: #dddddd;
$wallwhite    		: #f7f7f7;
$white        			: #FEFEFE;
$zalm         			: #ffe6cf;
$border       		: #999999;
$orangelight  	: #ffb172;
$orange       		: #ff7d00;
$concrete     		: #333333;
$text        			: #777777;
$table-bottom 	: #999999;
$oddcolor    		: #D5D6D8;

